    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="../images/austin.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Nights Out Just Got Easier</h1>
              <p>You work too hard to plan your weekends. Let us take care of it.</p>
              <p><a class="btn btn-lg btn-primary" href="#myForm" role="button">Request A Nyte</a></p>
            </div>
          </div>
        </div>
          </div>
        </div>
        