   <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Request A Nyte <span class="text-muted">...When And Where?</span></h2>
          <p class="lead">In a time crunch and need plans for tonight? Have an important anniversary and need romantic plans for next month? Whatever your story, we can provide unique date ideas to make your Nyte memorable.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="../images/one.png" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="../images/two.png" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">We Send You A Great Nyte. </h2>
          <p class="lead">Within minutes, we'll send you a fully planned out Nyte. If it's not for you, don't worry. Let us know and we'll send you more ideas until one feels right.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Relax and Enjoy. <span class="text-muted"></span></h2>
          <p class="lead">No reservation planning, no worries about searching for event tickets. No stress. You can relax knowing that your Nyte is already planned.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="../images/three.png" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->