
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="../images/request.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Request A Nyte</h2>
          <p>Let us know when and where.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="../images/wait.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>We'll send you a Nyte idea</h2>
          <p>If it doesn't tickle your fancy, let us know. We'll send you another awesome idea.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="../images/relax.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Relax and Enjoy.</h2>
          <p>No planning. Just show up and enjoy the night.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
